*{
	padding: 0px;
	margin: 0px;
	list-style: none;
	font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#root{
    background-image: url(../pictures/src_index.jpg);
    width: 100%;
}