{
    "presets": [
      "@babel/env",
      "@babel/preset-react"
    ],
    "plugins": [
      ["styled-jsx/babel", { "optimizeForSpeed": true }],
      ["@babel/plugin-proposal-class-properties",{"loose": true}]
    ]
}
